.n-wrapper {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  top: 0;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1000;
  border-bottom: 1px solid orange;
  
}

.n-left {
  flex: 1;
  align-items: center;
  justify-content: left;
  display: flex;
  gap: 2rem;
}

.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.n-right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
}

.n-list {
  flex: 10;
}

.n-list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
  cursor: pointer;
}

.n-list > ul :hover {
  cursor: pointer;
  color: var(--orange);
}

.btn-holder{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.n-button{
  flex: 2;
}

@media screen and (max-width:480px){
  .n-wrapper{
    border: none;
  }
  .n-list{
    display: none;
  }
  .n-button{
    display: none;
  }
}
